@import "./colors.scss";
@import "~bootstrap/scss/bootstrap";
@import "./app.scss";
@import "./searchbar.scss";
@import "./weathercard.scss";
@import "./currentweather.scss";
@import "./searchhistory.scss";

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h6 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
